{% macro breadcrumb(leads) %}
  <nav id='breadcrumb'>
    {% for l in leads -%}
      <a href="{{ l.link }}">{{ l.text }}</a>
      {% if loop.revindex0 !== 0 %}
        {% svg "breadcrumb-seperator" %}
      {% endif %}
    {%- endfor %}
  </nav>
{% endmacro %}