<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/index2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css">
    <script async src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>

    <header></header>

    <main>
      <div id="search">
        <span>جستجو</span>
        <input type="text" name="query" id="query"/>
      </div>
      <div id="words">
        {%- for C in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" -%}
          <div class="letter-section" id="{{C}}">
            <a href="/{{C }}">{{C}}</a>
            {%- for word in collections[C] -%}
              <div id="word" data-word="{{word.data.word}}">
                <div id="header">
                  <h2>{{word.data.translation}}</h2>
                  <h3>{{word.data.word}}</h3>
                </div>
                <div id='content'>{{word.templateContent | safe}}</div>
                <div id='footer'></div>
              </div>
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>
    </main>

    <aside>
      <ul>
        {%- for C in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" -%}
          <li>
            <a href='#{{C}}'>{{C}}</a>
          </li>
        {%- endfor -%}
      </ul>
    </aside>

    <script src="/assets/index.js"></script>
  </body>
</html>
