<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{word}}</title>
    <link rel="stylesheet" href="/assets/words.css"/>
  </head>
  <body>

    {%- for word in collections.T -%}
      <details>
        <summary>
          <a href="{{word.url}}">{{ word.data.word }}</a>
        </summary>
        {{word.templateContent | safe}}
      </details>
    {%- endfor -%}

  </body>
</html>