main {
  scroll-snap-type: y proximity;
}

main > section.list {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: 23em 1fr auto / 1fr;
  grid-template-areas:
    'header'
    'article'
    'footer';
  justify-content: flex-start;
  align-items: stretch;
}

/************************* Header *************************/

main > section.list > header {
  grid-area: header;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 4em 1fr 4em / 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em 6em;
  padding-bottom: 0;
  margin: 0 auto 0;
  background-color: black;
  color: white;
  direction: rtl;
}

main > section.list > header hgroup#titles {
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  overflow: hidden;
}

main > section.list > header hgroup#titles > h2 {
  font-weight: bold;
  margin: 0;
  font-size: 1.8em;
  font-weight: 100;
}

h1 {
  margin: 0;
  font-size: 4em;
}

a.anchor {
  margin-right: -2ch;
  font-size: 1.5em;
  position: absolute;
}

/************************* Nav *************************/

main > section.list > header ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

main > section.list > header li {
  flex-basis: 1ch;
  min-width: 1ch;
  text-align: center;
  border-bottom: 1px solid white;
}

main > section.list > header li a {
  text-decoration: none;
}

/************************* Article *************************/

main > section.list > article {
  grid-area: article;
  width: 100%;
  min-height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3em;
  padding: 3em 6em;
  margin: 0 auto;
  box-shadow: 0 0 25px -20px #607d8b;
}

main > section.list > article > section:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}

/************************* Section.letter *************************/

main > section.list section.letter {
  scroll-margin-block-start: 2em;
  scroll-snap-align: start;
}

main > section.list section.letter hgroup.letter-header {
  position: relative;
}

main > section.list section.letter hgroup.letter-header .anchor {
  opacity: 0;
  transition: opacity 0.3 ease-in;
}

main > section.list section.letter hgroup.letter-header:hover .anchor {
  opacity: 1;
}

main > section.list section.letter hgroup.letter-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

main > section.list section.letter hgroup.letter-header h2 {
  font-weight: bold;
  margin: 0;
  font-size: 1.8em;
  font-weight: 100;
}

main
  > section.list
  section.letter
  hgroup.letter-header
  .letter-header__word-count {
  font-weight: 100;
  color: var(--c-secondary);
}

main > section.list section.letter a {
  text-decoration: none;
}

p {
  direction: rtl;
  text-align: start;
  line-height: 1.4;
  text-align: justify;
}

p a {
  color: #2f2f2f;
  text-decoration-color: #ccc;
  text-decoration-line: underline;
}

img {
  max-width: 400px;
}

ol {
  list-style: persian;
}

ul.word-list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

ul.word-list li.word-list__item {
  list-style: url(/assets/s/arrow-left-small.svg);
  unicode-bidi: plaintext;
}
