main > section.word {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: minmax(22em, auto) 1fr auto / 14em 1fr;
  grid-template-areas:
    'nav header'
    'nav article'
    'nav footer';
  justify-content: flex-start;
  align-items: stretch;
}

/************************* Header *************************/

main > section.word > header {
  grid-area: header;
  width: 100%;
  min-height: 22em;
  display: grid;
  grid-template: 2em 1fr 2em / 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
  padding: 2em 6em;
  margin: 0 auto 0;
  background-color: black;
  color: white;
  direction: rtl;
}

main > section.word > header #word-actions {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  color: var(--c-accent);
}

main > section.word > header #word-actions > span {
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

main > section.word > header #word-actions svg {
  width: 100%;
  height: 100%;
}

/***** Default Table Styling *****/

table {
  border-collapse: collapse;
  margin: 0 auto 0;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
}

/************************* Navbar *************************/

main > section.word > nav {
  grid-area: nav;
  width: 100%;
  min-height: 100%;
  background-color: black;
  color: white;
  border-left: 1px solid var(--c-secondary);
}

main > section.word > nav > section {
  width: 100%;
  height: 100vh;
  padding: 3.5em 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5em;
  position: sticky;
  top: 0;
  overflow-y: hidden;
  scrollbar-gutter: stable;
  overscroll-behavior-y: contain;
}

main > section.word > nav > section:hover {
  overflow-y: auto;
}

main > section.word > nav header {
  font-weight: bold;
  font-size: 1.7em;
}

main > section.word > nav header a {
  text-decoration: none;
}

main > section.word > nav ul {
  padding: 0;
  list-style: none;
  direction: ltr;
}

main > section.word > nav ul li {
  max-width: 100%;
  padding: 0;
  font-size: 0.8em;
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main > section.word > nav ul li a {
  text-decoration: none;
}

main > section.word > nav ul li.current {
  opacity: 0.6;
}

/************************* Article *************************/

main > section.word > article {
  grid-area: article;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 3em 6em;
  margin: 0 auto;
  box-shadow: 0 0 25px -20px #607d8b;
}

main > section.word > article > section {
  padding-block-end: 2em;
}

main > section.word > article > section:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 2em;
}

h1 {
  margin: 0;
  font-size: 4em;
  unicode-bidi: embed;
}

h2 {
  margin: 0;
  font-size: 1.8em;
  font-weight: 100;
}

hgroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  text-align: right;
}

main > section.word > article p {
  direction: rtl;
  text-align: start;
  line-height: 1.7;
  text-align: justify;
}

main > section.word > article p a {
  color: var(--c-secondary);
  text-decoration-color: var(--c-accent-gray);
  text-decoration-line: underline;
}

main > section.word > article img {
  max-width: 100%;
  border-bottom: 4px solid black;
}

main > section.word > article figure {
  max-width: 400px;
  display: block;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
}

main > section.word > article figure:hover figcaption {
  color: white;
}

main > section.word > article figcaption {
  background-color: black;
  color: var(--c-accent-gray);
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 0.5em 1em;
  font-size: 0.8em;
  transition: color 0.1s ease-in;
  line-height: 1.5;
}

/************************* Article > Section#options *************************/

main > section.word > article > section#options {
  min-height: 3em;
}

main > section.word > article > section#options #info {
  width: 100%;
  display: grid;
  grid-template: 4em 1.5em / 5em 1fr;
  grid-template-areas: 'fastnav shortlink' 'fastnav infodetails';
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

main > section.word > article > section#options #info #fast-nav {
  grid-area: fastnav;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

main > section.word > article > section#options #info #fast-nav a {
  text-decoration: none;
}

main > section.word > article > section#options #info #fast-nav a.prev .icon {
  transform: rotate(90deg);
}

main > section.word > article > section#options #info #fast-nav a.next .icon {
  transform: rotate(-90deg);
}

main > section.word > article > section#options #info #shortlink {
  grid-area: shortlink;
  width: 100%;
  height: 100%;
}

main > section.word > article > section#options #info #info-details {
  grid-area: infodetails;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  color: var(--c-accent-gray);
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  .info-details__edit {
  display: inline-flex;
  gap: 3ch;
  margin: 0;
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  .info-details__info {
  display: inline-flex;
  gap: 1ch;
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  .info-details__edit.link {
  border-bottom: 3px solid currentColor;
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  .info-details__edit.link
  svg {
  width: 1em;
  height: 1em;
  color: currentColor;
  vertical-align: middle;
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  .info-details__edit.link
  a {
  color: currentColor;
  text-decoration: none;
}

main > section.word > article > section#options #info #info-details ul {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

main > section.word > article > section#options #info #info-details ul li {
  width: var(--size);
  height: var(--size);
  margin-inline-end: calc(-1 * var(--size));
  --size: 2em;
  filter: grayscale(1);
  position: relative;
  box-shadow: 0 0 0px 2px black;
  transition: transform 0.3s ease-in-out;
  background: var(--c-accent-gray);
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  ul
  li:hover
  ~ li {
  transform: translateX(80%);
}

main
  > section.word
  > article
  > section#options
  #info
  #info-details
  ul
  li:hover {
  filter: none;
  z-index: 11;
}

main > section.word > article > section#options #info #info-details ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: transparent;
}

main > section.word > article > section#options #info #info-details ul li img {
  width: var(--size);
  height: var(--size);
  border: none;
  display: block;
}

/***** Print Styles *****/

@media print {
  body {
    grid-template: 1fr / 1fr;
    grid-template-areas: 'main';
  }

  body > main {
    overflow: unset !important;
  }

  body > aside,
  section#search {
    display: none;
  }

  main > section.word {
    grid-template: 14em 1fr / 1fr;
    grid-template-areas:
      'header'
      'article';
  }

  main > section.word header {
    background: var(--c-accent-gray);
    color: black !important;
  }

  main > section.word article figure {
    page-break-inside: avoid;
  }

  main > section.word article pre {
    background: white;
    border-left: 3px solid black;
  }

  main > section.word :is(article #options, header #word-actions, header nav) {
    display: none;
  }

  section.word > :is(nav, footer) {
    display: none;
  }
}
