@import 'https://unpkg.com/modern-normalize@0.6.0/modern-normalize.css';

html,
body {
  scroll-behavior: smooth;
}

body {
}

details {
  border: 1px solid #d2d6dc;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin: 10px;
  direction: rtl;

  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
}

details > summary {
  list-style: none;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  direction: ltr;
  /* color: #3f83f8; */
  color: #24292e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

details > summary > svg {
  width: 25px;
  height: 25px;
  color: #ccc;
}

details > summary::-webkit-details-marker {
  display: none;
}

details[open] {
  padding: 0.5em;
}

details[open] > summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

details[open] > summary > svg {
  transform: rotate(90deg);
  transition: transform 0.1s ease-in;
}
