@import "https://unpkg.com/modern-normalize@0.6.0/modern-normalize.css";
@import "https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css";

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  font-family: Vazir;
}

body {
  background: #efefef42;
  padding: 5em 0;
  display: grid;
  place-items: center;
}

#word {
  width: clamp(300px, 90vw, 400px);
  min-height: 400px;
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px -20px #607d8b;
  margin: 0 auto;
}

#word > * {
  flex: 1 0 auto;
}

#header {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  padding: 2em 3em;
  margin: 0 auto 0;
  direction: rtl;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 2em;
}

h3 {
  margin: 0;
  font-size: 0.8em;
  font-weight: 300;
  text-align: start;
}

#content {
  padding: 2em;
}

p {
  direction: rtl;
  text-align: start;
  line-height: 1.4;
  text-align: justify;
}

p a {
  color: #2f2f2f;
  text-decoration: wavy;
  text-decoration-color: #ccc;
  text-decoration-line: underline;
  /* text-decoration-color: currentcolor; */
}

img {
  width: 100%;
}

/* p a:visited {
  text-decoration-color: inherit;
} */

#footer {
  width: 100%;
  height: 3em;
  background: #ccc;
}
