<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/index.css"/>
    {% block links %}{% endblock %}
  </head>
  <body>
    <aside>
      <a id='link-home-page' href='/'>
        <span id='link-home-page__fa'>الفبای یادگیری ماشین</span>
        <span id='link-home-page__en'>ML Glossary</span>
      </a>
    </aside>

    <main>
      {% block body %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% block scripts %}{% endblock %}
  </body>
</html>