<footer>
  <section id='information'></section>
  <section id='footer'>
    <p>کاری از تیم گلاسوری</p>

    <div id='refrence'>
      <p>به تاریخ </p>
      <a href=''>Github</a>
    </div>
  </section>
</footer>