{% extends "base.njk" %}

{% block links %}
  <link rel="stylesheet" href="/assets/word.css"/>
{% endblock %}

{% set title = word%}

{% block body %}
  <section class="word">
    <nav>
      <p>{{page.fileSlug}}</p>
    </nav>

    <header>
      <nav id='breadcrumb'></nav>
      <hgroup>
        <h1>{{translation}}</h1>
        <h2>{{word}}</h2>
      </hgroup>

      <section id='word-actions'></section>
    </header>

    <article>
      <section id='description'>
        <h3>تعریف</h3>
        <p>{{content | safe}}</p>
      </section>
    </article>

    {% include "footer.njk" %}
  </section>
{% endblock %}