{% extends "body.njk" %}

{% block links %}
  <link rel="stylesheet" href="/assets/word.css"/>
{% endblock %}

{% set title = word%}

{% block body %}
  <main>
    <header>
      <nav id='breadcrumb'></nav>
      <hgroup>
        <h1>{{translation}}</h1>
        <h2>{{word}}</h2>
      </hgroup>
    </header>

    <article>
      <section id='description'>
        <h3>تعریف</h3>
        <p>{{content | safe}}</p>
      </section>
    </article>

    <footer></footer>
  </main>
{% endblock %}