<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{word}}</title>
    <link rel="stylesheet" href="/assets/word.css"/>
  </head>
  <body>

    <main>
      <aside></aside>
      <header>
        <nav id='breadcrumb'></nav>
        <hgroup>
          <h1>{{translation}}</h1>
          <h2>{{word}}</h2>
        </hgroup>
        <section id='word-actions'></section>
      </header>

      <article>
        <section id='description'>
          <h3>تعریف</h3>
          <dfn>{{content | safe}}</dfn>
        </section>
      </article>

      <footer></footer>
    </main>
  </body>
</html>