{% extends "base.njk" %}

{% block links %}
  <link rel="stylesheet" href="/assets/word.css"/>
{% endblock %}

{% set title = word %}
{# {% set letter = word[0] %} #}
{% set letter = page.url[1] %}

{% block body %}
  <section class="word">
    <nav>
      <header>
        <a href="/{{letter}}">حرف {{letter}}</a>
      </header>
      <section>
        <ul>
          {%- for w in collections[letter] -%}
            <li 
            {% if page.url === w.url %}
              class="current" aria-current="page"
            {% endif %}
            >
              <a href="{{w.url}}">{{ w.data.word }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </section>
    </nav>

    <header>
      <nav id='breadcrumb'></nav>
      <hgroup>
        <h1>{{translation}}</h1>
        <h2>{{word}}</h2>
      </hgroup>

      <section id='word-actions'></section>
    </header>

    <article>
      <section id='description'>
        <h3>تعریف</h3>
        <p>{{content | safe}}</p>
      </section>
    </article>

    {% include "footer.njk" %}
  </section>
{% endblock %}