{%- from "macros.njk" import breadcrumb -%}
{% extends "base.njk" %}

{% block links %}
  <link rel="stylesheet" href="/assets/list.css"/>
  <script>
    function rowClick(row) {
      const {link} = row.dataset;
      window.location = link;
    }
  </script>
{% endblock %}

{# {% set letter = word[0] %} #}
{% set title_fa = "فهرست الفبایی" %}
{% set title_en = "Alphabetical Index" %}
{% set title = title_fa + ' - ' + title_en %}

{% block body %}
  <section class="list">
    <header>
      {{
          breadcrumb([{text: 'خانه', link: '/'}, {text: title_fa, link: '' }])
        }}
      <section id="titles">
        <h1>{{title_fa}}</h1>
        <h2>{{title_en}}</h2>
      </hgroup>
    </section>
  </header>

  <article>
    {% for l in alphabet.alphabet -%}
      {% set letter = l %}
      <section class="letter">
        <h2>
          <a href="/{{letter}}">حرف <strong>{{letter}}</strong>
          </a>
        </h2>
        <article>
          <div class="table-wrapper">
            <ul class="word-list">
              {%- for word in collections[letter] -%}
                <li class="word-list__item">
                  <a href="{{word.url}}">{{ word.data.word }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </article>
      </section>
    {%- endfor %}
  </article>

  {% include "footer.njk" %}
</section>
{% endblock %}