---
permalink: /opensearch.xml
---

<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
  <ShortName>ML Glossary</ShortName>
  <Description>
    الفبای یادگیری ماشین و یادگیری عمیق
  </Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image width="16" height="16" type="image/x-icon">https://mlglossary.ir/assets/favicon.ico</Image>
  <Url type="text/html" method="get" template="https://mlglossary.ir?q={searchTerms}"/>
</OpenSearchDescription>